<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>HyperNews</title>
</head>
<body>
    <header class="mycontainer">
        <h2 class="white">HyperNews</h2>
        <div>
            <a class="nav_link" href="/">главная</a>
            <a class="nav_link" href="/news">новости</a>
            <a class="nav_link active" href="/">о сайте</a>
            <a class="nav_link" href="/news/create">создать</a>
            <a class="nav_link" href="/login">войти</a>
        </div>
    </header>
    <!--<div class="mycontainer underheader">
        <h2 class="white bighead">Знаете ли вы всё о HyperNews?</h2>
        <div class="blue bg">
            <p class="allnews black">Как и на большиестве новостных сайтов, здесь появилась новая функция - курс валют.</p>
            <p class="allnews black">Узнавайте текущий курс доллара, евро и фунта прямо на сайте. Далле информация которую ещё не придумал.</p>
        </div>
        <a class="mybtn" href="/currency">Посмотреть курс</a>
        <div class="purple bg">
            <p class="allnews black">Ещё крутая инфа</p>
            <p class="allnews black">Описание очень крутое и так далее.</p>
        </div>
        <a class="mybtn" href="/currency">Перейти куда-то</a>
    </div>-->
</body>
</html>